<h1>HEY THERE FROM INDEX PAGEEEEEE</h1>
<h2><%= Time.now %></h2>

<form action="/" method="POST">
  <label for="name">Name</label>
  <input type="text" name="resto_name">
  <label for="city">City</label>
  <input type="text" name="resto_city">
  <input type="submit"></input>
</form>

<ul>
  <% @restaurants.each do |resto| %>
    <li>
      <a href="restaurants/<%= resto.id %>"><%= resto.name %></a>

    </li>
  <% end %>
</ul>



